
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'RethinkSans-Regular';
  src: url('/fonts/RethinkSans-Regular.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RethinkSans-Bold';
  src: url('/fonts/RethinkSans-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
}





body{
  font-family:RethinkSans-Regular ;
}

@layer base {
  h1 {
    @apply text-[30px] leading-[40px] font-bold md:text-[58px] md:leading-[70px] text-white;
    font-family:'RethinkSans-Bold'
  }
  h2 {
    @apply text-[30px] leading-[40px] font-semibold md:text-[58px] md:leading-[70px] text-white;
    font-family:'RethinkSans-Bold'
  }

  h3 {
    @apply text-[32px]  md:text-[43px] leading-[40px] md:leading-[50px]  text-white;
    font-family:'RethinkSans-Bold'
  }

  h4 {
    @apply text-[20px] leading-[28px] font-medium text-white;
  }

  h5 {
    @apply text-[18px] leading-[24px] font-medium text-white;
  }

  h6 {
    @apply text-[18px] leading-[24px] font-medium text-[#FFFFFF];
  }

  p {
    @apply text-[16px] md:text-[18px] leading-[24px] md:leading-[27px] font-normal text-[#A7ADBE];
  }

  span {
    @apply text-[14px] leading-[20px] font-normal text-[#A7ADBE];
  }

  button {
    @apply text-[18px] leading-[27px] font-medium text-white;
  }
}


.header_container{
  max-width: 1180px;
  width: 100%;
  /* padding: 0px 16px; */
  margin: 0 auto;
}
.container{
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 16px;
}